/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  margin-top: 36px;
  margin-bottom: 32px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}

input[name='search-text'] {
  width: 272px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 4px;

  font: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
  border: 1px solid #808080;
  outline: none;
}

input[name='search-text']:hover {
  border-color: #000;
}

input[name='search-text']:focus {
  border-color: #4e75ff;
  color: #2e2f42;
}

button {
  font: inherit;
  font-weight: 500;
  color: #fff;

  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;

  background-color: #4e75ff;
}

button:hover {
  background-color: #6c8cff;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.loader-container.is-hidden {
  display: none;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #fff #fff transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #ff3d00 #ff3d00;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

.loader::before {
  width: 32px;
  height: 32px;
  border-color: #fff #fff transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 1158px;
  margin: 0 auto;
  margin-bottom: 36px;
  padding: 0 15px;
}

.gallery-item {
  border: 1px solid #808080;
  width: calc((100% - 24px * 2) / 3);
}

.gallery-image {
  width: 360px;
  height: 152px;
  object-fit: cover;
}

.info-box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 2;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600px;
  font-size: 12px;
  line-height: 2;
}

.info-item span {
  font-weight: 400;
}

.info-item:nth-child(1) {
  margin-right: 28px;
}

.info-item:nth-child(2) {
  margin-right: 27px;
}
.info-item:nth-child(3) {
  margin-right: 32px;
}
